# Oplus camera specific init script

on post-fs-data

    # Bind mount fastrpc_shell_3 for labelling
    mkdir /mnt/vendor/dsp 0770 root root
    copy /vendor/dsp/cdsp/fastrpc_shell_3 /mnt/vendor/dsp/fastrpc_shell_3
    chmod 0644 /mnt/vendor/dsp/fastrpc_shell_3
    mount none /mnt/vendor/dsp/fastrpc_shell_3 /vendor/dsp/cdsp/fastrpc_shell_3 bind

on boot

    # OIS
    chown cameraserver cameraserver /sys/kernel/ois_control/dump_registers
